<a href="https://colab.research.google.com/github/NPranaya7/Data_690_Pranaya/blob/main/Assignment_04/Assignment_04_Using_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Assignment_04
- Date: 22/02/2202
- Narava Pranay manikanta

## Part A
- Using Python

In [48]:
with open("/content/census_costs.txt", "r") as file:
    line_list = file.readlines()

line_list

['Source: https://www.genealogybranches.com/censuscosts.html\n',
 'Census Year\tTotal Population\tCensus Cost\tAverage Cost Per Person\n',
 '1790\t3,929,214\t$44,377\t1.13 cents\n',
 '1800\t5,308,483\t$66,109\t1.24 cents\n',
 '1810\t7,239,881\t$178,445\t2.46 cents\n',
 '1820\t9,633,822\t$208,526\t2.16 cents\n',
 '1830\t12,866,020\t$378,545\t2.94 cents\n',
 '1840\t17,069,458\t$833,371\t4.88 cents\n',
 '1850\t23,191,876\t$1,423,351\t6.14 cents\n',
 '1860\t31,443,321\t$1,969,377\t6.26 cents\n',
 '1870\t38,558,371\t$3,421,198\t8.87 cents\n',
 '1880\t50,155,783\t$5,790,678\t11.54 cents\n',
 '1890\t62,979,766\t$11,547,127\t18.33 cents\n',
 '1900\t76,303,387\t$11,854,000\t15.54 cents\n',
 '1910\t91,972,266\t$15,968,000\t17.07 cents\n',
 '1920\t105,710,620\t$25,117,000\t23.76 cents\n',
 '1930\t122,775,046\t$40,156,000\t32.71 cents\n',
 '1940\t131,669,275\t$67,527,000\t51.29 cents\n',
 '1950\t151,325,798\t$91,462,000\t60.44 cents\n',
 '1960\t179,323,175\t$127,934,000\t71.34 cents\n',
 '1970\t203,302,031\t$247,653,000\t$1.22\n',
 '1980\t226,542,199\t$1,078,488,000\t$4.76\n',
 '1990\t248,718,301\t$2,492,830,000\t$10.02\n',
 '2000\t281,421,906\t$4.5 Billion\t$15.99\n',
 '2010*\t308,745,538\t$13 Billion\t$42.11\n']

In [49]:
top2_list = line_list[:2]
top2_list

['Source: https://www.genealogybranches.com/censuscosts.html\n',
 'Census Year\tTotal Population\tCensus Cost\tAverage Cost Per Person\n']

In [50]:
data_list = line_list[2:]
data_list

['1790\t3,929,214\t$44,377\t1.13 cents\n',
 '1800\t5,308,483\t$66,109\t1.24 cents\n',
 '1810\t7,239,881\t$178,445\t2.46 cents\n',
 '1820\t9,633,822\t$208,526\t2.16 cents\n',
 '1830\t12,866,020\t$378,545\t2.94 cents\n',
 '1840\t17,069,458\t$833,371\t4.88 cents\n',
 '1850\t23,191,876\t$1,423,351\t6.14 cents\n',
 '1860\t31,443,321\t$1,969,377\t6.26 cents\n',
 '1870\t38,558,371\t$3,421,198\t8.87 cents\n',
 '1880\t50,155,783\t$5,790,678\t11.54 cents\n',
 '1890\t62,979,766\t$11,547,127\t18.33 cents\n',
 '1900\t76,303,387\t$11,854,000\t15.54 cents\n',
 '1910\t91,972,266\t$15,968,000\t17.07 cents\n',
 '1920\t105,710,620\t$25,117,000\t23.76 cents\n',
 '1930\t122,775,046\t$40,156,000\t32.71 cents\n',
 '1940\t131,669,275\t$67,527,000\t51.29 cents\n',
 '1950\t151,325,798\t$91,462,000\t60.44 cents\n',
 '1960\t179,323,175\t$127,934,000\t71.34 cents\n',
 '1970\t203,302,031\t$247,653,000\t$1.22\n',
 '1980\t226,542,199\t$1,078,488,000\t$4.76\n',
 '1990\t248,718,301\t$2,492,830,000\t$10.02\n',
 '2000\t281,421,906\t$4.5 Billion\t$15.99\n',
 '2010*\t308,745,538\t$13 Billion\t$42.11\n']

In [51]:
year_list = [line.split("\t")[0] for line in data_list]
cleansed_year_list = [Census_Year.replace("*","") for Census_Year in year_list]
cleansed_year_list

['1790',
 '1800',
 '1810',
 '1820',
 '1830',
 '1840',
 '1850',
 '1860',
 '1870',
 '1880',
 '1890',
 '1900',
 '1910',
 '1920',
 '1930',
 '1940',
 '1950',
 '1960',
 '1970',
 '1980',
 '1990',
 '2000',
 '2010']

In [52]:
pop_list = [line.split("\t")[1] for line in data_list]
cleansed_pop_list = [total_population.replace(",","") for total_population in pop_list] 
cleansed_pop_list

['3929214',
 '5308483',
 '7239881',
 '9633822',
 '12866020',
 '17069458',
 '23191876',
 '31443321',
 '38558371',
 '50155783',
 '62979766',
 '76303387',
 '91972266',
 '105710620',
 '122775046',
 '131669275',
 '151325798',
 '179323175',
 '203302031',
 '226542199',
 '248718301',
 '281421906',
 '308745538']

In [53]:
cost_list = [line.split("\t")[2] for line in data_list]
cleansed_cost_list = [Census_Cost.replace(",","") for Census_Cost in cost_list] 
cleansed_cost_list = [Census_Cost.replace("$","") for Census_Cost in cleansed_cost_list] 
cleansed_cost_list = [Census_Cost.replace(" Billion","000000000000") for Census_Cost in cleansed_cost_list] 
cleansed_cost_list = [Census_Cost.replace(".50","5") for Census_Cost in cleansed_cost_list]

cleansed_cost_list

['44377',
 '66109',
 '178445',
 '208526',
 '378545',
 '833371',
 '1423351',
 '1969377',
 '3421198',
 '5790678',
 '11547127',
 '11854000',
 '15968000',
 '25117000',
 '40156000',
 '67527000',
 '91462000',
 '127934000',
 '247653000',
 '1078488000',
 '2492830000',
 '4500000000000',
 '13000000000000']

In [54]:
avg_list = [line.split("\t")[3] for line in data_list]
cleansed_avg_list = [avg_cost.replace("$","") for avg_cost in avg_list] 
cleansed_avg_list = [avg_cost.replace("cents\n","") for avg_cost in cleansed_avg_list] 
cleansed_avg_list = [avg_cost.replace("\n","") for avg_cost in cleansed_avg_list]
cleansed_avg_list = [float(avg) for avg in cleansed_avg_list]
cleansed_avg_list = [avg/100 for avg in cleansed_avg_list]

cleansed_avg_list

[0.0113,
 0.0124,
 0.0246,
 0.0216,
 0.0294,
 0.048799999999999996,
 0.061399999999999996,
 0.0626,
 0.08869999999999999,
 0.11539999999999999,
 0.1833,
 0.15539999999999998,
 0.1707,
 0.2376,
 0.3271,
 0.5129,
 0.6043999999999999,
 0.7134,
 0.012199999999999999,
 0.047599999999999996,
 0.1002,
 0.15990000000000001,
 0.4211]

In [57]:
with open("/content/census_costs.csv", "w") as f:
    f.writelines(top2_list)

    for i in range(len(cleansed_year_list)):
      f.write(cleansed_year_list[i])
      f.write(",")
      f.write(cleansed_pop_list[i])
      f.write(",")
      f.write(cleansed_cost_list[i])
      f.write(",")
      f.write(str(cleansed_avg_list[i]))

      if i != len((cleansed_year_list)) - 1:
           f.write("\n")

In [58]:
with open("/content/census_costs.csv", "r") as cfile:
    df = cfile.readlines()

df

['Source: https://www.genealogybranches.com/censuscosts.html\n',
 'Census Year\tTotal Population\tCensus Cost\tAverage Cost Per Person\n',
 '1790,3929214,44377,0.0113\n',
 '1800,5308483,66109,0.0124\n',
 '1810,7239881,178445,0.0246\n',
 '1820,9633822,208526,0.0216\n',
 '1830,12866020,378545,0.0294\n',
 '1840,17069458,833371,0.048799999999999996\n',
 '1850,23191876,1423351,0.061399999999999996\n',
 '1860,31443321,1969377,0.0626\n',
 '1870,38558371,3421198,0.08869999999999999\n',
 '1880,50155783,5790678,0.11539999999999999\n',
 '1890,62979766,11547127,0.1833\n',
 '1900,76303387,11854000,0.15539999999999998\n',
 '1910,91972266,15968000,0.1707\n',
 '1920,105710620,25117000,0.2376\n',
 '1930,122775046,40156000,0.3271\n',
 '1940,131669275,67527000,0.5129\n',
 '1950,151325798,91462000,0.6043999999999999\n',
 '1960,179323175,127934000,0.7134\n',
 '1970,203302031,247653000,0.012199999999999999\n',
 '1980,226542199,1078488000,0.047599999999999996\n',
 '1990,248718301,2492830000,0.1002\n',
 '2000,281421906,4500000000000,0.15990000000000001\n',
 '2010,308745538,13000000000000,0.4211']