<a href="https://colab.research.google.com/github/NPranaya7/Data_690_Pranaya/blob/main/Assignment_04/Inclass_04.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Inclass Session
- Narava Pranay Manikanta
- Date:21/02/2022

In [3]:
import pandas as pd

data_url = 'https://raw.githubusercontent.com/DATA-690-SPRING-2022/WANG/main/assignment_04/census_costs.txt'
df=pd.read_csv(data_url, skiprows=1, sep="\t")
print(df)

   Census Year Total Population     Census Cost Average Cost Per Person
0         1790        3,929,214         $44,377              1.13 cents
1         1800        5,308,483         $66,109              1.24 cents
2         1810        7,239,881        $178,445              2.46 cents
3         1820        9,633,822        $208,526              2.16 cents
4         1830       12,866,020        $378,545              2.94 cents
5         1840       17,069,458        $833,371              4.88 cents
6         1850       23,191,876      $1,423,351              6.14 cents
7         1860       31,443,321      $1,969,377              6.26 cents
8         1870       38,558,371      $3,421,198              8.87 cents
9         1880       50,155,783      $5,790,678             11.54 cents
10        1890       62,979,766     $11,547,127             18.33 cents
11        1900       76,303,387     $11,854,000             15.54 cents
12        1910       91,972,266     $15,968,000             17.07 cents
13        1920      105,710,620     $25,117,000             23.76 cents
14        1930      122,775,046     $40,156,000             32.71 cents
15        1940      131,669,275     $67,527,000             51.29 cents
16        1950      151,325,798     $91,462,000             60.44 cents
17        1960      179,323,175    $127,934,000             71.34 cents
18        1970      203,302,031    $247,653,000                   $1.22
19        1980      226,542,199  $1,078,488,000                   $4.76
20        1990      248,718,301  $2,492,830,000                  $10.02
21        2000      281,421,906    $4.5 Billion                  $15.99
22       2010*      308,745,538     $13 Billion                  $42.11

In [4]:
df.shape

(23, 4)

In [5]:
df.head()

  Census Year Total Population Census Cost Average Cost Per Person
0        1790        3,929,214     $44,377              1.13 cents
1        1800        5,308,483     $66,109              1.24 cents
2        1810        7,239,881    $178,445              2.46 cents
3        1820        9,633,822    $208,526              2.16 cents
4        1830       12,866,020    $378,545              2.94 cents

In [6]:
df.tail()

   Census Year Total Population     Census Cost Average Cost Per Person
18        1970      203,302,031    $247,653,000                   $1.22
19        1980      226,542,199  $1,078,488,000                   $4.76
20        1990      248,718,301  $2,492,830,000                  $10.02
21        2000      281,421,906    $4.5 Billion                  $15.99
22       2010*      308,745,538     $13 Billion                  $42.11

In [7]:
def cleanse_year(year_str):
    if "*" in year_str:
         year= year_str.replace("*","")
    else:
          year=year_str
    return int(year)

In [9]:
cleanse_year("2010*")
print(type(cleanse_year("2010*")))
df["year_cleansed"]=df["Census Year"].apply(cleanse_year)

df

<class 'int'>

   Census Year Total Population  ... Average Cost Per Person year_cleansed
0         1790        3,929,214  ...              1.13 cents          1790
1         1800        5,308,483  ...              1.24 cents          1800
2         1810        7,239,881  ...              2.46 cents          1810
3         1820        9,633,822  ...              2.16 cents          1820
4         1830       12,866,020  ...              2.94 cents          1830
5         1840       17,069,458  ...              4.88 cents          1840
6         1850       23,191,876  ...              6.14 cents          1850
7         1860       31,443,321  ...              6.26 cents          1860
8         1870       38,558,371  ...              8.87 cents          1870
9         1880       50,155,783  ...             11.54 cents          1880
10        1890       62,979,766  ...             18.33 cents          1890
11        1900       76,303,387  ...             15.54 cents          1900
12        1910       91,972,266  ...             17.07 cents          1910
13        1920      105,710,620  ...             23.76 cents          1920
14        1930      122,775,046  ...             32.71 cents          1930
15        1940      131,669,275  ...             51.29 cents          1940
16        1950      151,325,798  ...             60.44 cents          1950
17        1960      179,323,175  ...             71.34 cents          1960
18        1970      203,302,031  ...                   $1.22          1970
19        1980      226,542,199  ...                   $4.76          1980
20        1990      248,718,301  ...                  $10.02          1990
21        2000      281,421,906  ...                  $15.99          2000
22       2010*      308,745,538  ...                  $42.11          2010

[23 rows x 5 columns]

In [11]:
def cleanse_pop(pop_str):
  if "," in pop_str:
       pop=pop_str.replace(",","")
  else:
          pop=pop_str
  return int(pop)
  df["pop_cleansed"]=df["Total Population"].apply(cleanse_pop)

df

   Census Year Total Population  ... Average Cost Per Person year_cleansed
0         1790        3,929,214  ...              1.13 cents          1790
1         1800        5,308,483  ...              1.24 cents          1800
2         1810        7,239,881  ...              2.46 cents          1810
3         1820        9,633,822  ...              2.16 cents          1820
4         1830       12,866,020  ...              2.94 cents          1830
5         1840       17,069,458  ...              4.88 cents          1840
6         1850       23,191,876  ...              6.14 cents          1850
7         1860       31,443,321  ...              6.26 cents          1860
8         1870       38,558,371  ...              8.87 cents          1870
9         1880       50,155,783  ...             11.54 cents          1880
10        1890       62,979,766  ...             18.33 cents          1890
11        1900       76,303,387  ...             15.54 cents          1900
12        1910       91,972,266  ...             17.07 cents          1910
13        1920      105,710,620  ...             23.76 cents          1920
14        1930      122,775,046  ...             32.71 cents          1930
15        1940      131,669,275  ...             51.29 cents          1940
16        1950      151,325,798  ...             60.44 cents          1950
17        1960      179,323,175  ...             71.34 cents          1960
18        1970      203,302,031  ...                   $1.22          1970
19        1980      226,542,199  ...                   $4.76          1980
20        1990      248,718,301  ...                  $10.02          1990
21        2000      281,421,906  ...                  $15.99          2000
22       2010*      308,745,538  ...                  $42.11          2010

[23 rows x 5 columns]